# VB6 source
*.bas linguist-language=vb6
*.cls linguist-language=vb6
*.frm linguist-language=vb6
*.ctl linguist-language=vb6

# VB6 project files (INI-like)
*.vbp linguist-language=INI
*.vbw linguist-language=INI
*.vbg linguist-language=INI

# binaries
*.exe binary
*.dll binary
*.ocx binary